.picture {
    height: 300px;
    border: 1px solid rgb(253, 192, 192);
    border-radius: 5px;
    cursor: pointer;
    object-fit: contain;
    aspect-ratio: 1;
  }
  
  .picture:hover {
    filter: brightness(80%);
  }
  
  .picture-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    gap: 12px;
    flex-wrap: wrap;
    object-fit: contain;
  }
  
  body {
    text-align: center;
    background-color: rgb(249, 229, 229);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(61, 57, 57);
  }
  
  .page-container {
    width: 80%;
    margin-top: 5rem;
    margin: auto;
    flex-wrap: wrap;
  }